#cabecera{
    font-family: cursive;
    background-color: rgb(255, 255, 255);
}
.horas{
    font-style:italic;
}
td{
    font-family:sans-serif
    font-size: 13px;
}
.lenguas{
    background-color: cornflowerblue;
}
.fomula{
    background-color: blueviolet;
    color: white;
}
.ingles{
    background-color: coral;
}
.estancia{
    background-color: antiquewhite;
}
.web{
    background-color: aqua;
}
.liderazgo{
    background-color: crimson;
    color: beige;
}
.ing{
    background-color: darkgray;
}